<div class="flashes" n:inner-ifset="$flashes[0]" n:inner-foreach="$flashes as $flash" n:snippet="flashes">
    <div class="{$flash->type}">
        {var $message = \Interitty\Utils\Html::fromHtml(str_replace('\\', '<wbr>\\', $flash->message))}
        {$message}
    </div>
</div>